<div class="container">
	<a class="back-link" href="/posts">Back</a>
	<h1><%= @post.title %></h1>
	<p><%= @post.updated_at.strftime("%d %^b %Y") %> Tags: <% @post.tags.each do |t| %><%= " #{t.name} " %><% end %></p>
	<p><%= @post.body %></p>
	
	<a href="/posts/edit/<%= @post.id %>">Edit Post</a>
	<a href="/posts/delete/<%= @post.id %>">Delete Post</a>
</div>
